<% layout('layouts/boilerplate') %>
      <script>
        const mapToken = "<%=process.env.map_acess%>";
        const coordinates = JSON.parse("<%- JSON.stringify(listing.geometry.coordinates) %>");
      </script>
      
        <div class="card col-6 offset-3">
          <img src="<%= listing.image.url %>" class="card-img-top card-img" alt="listing Image">
        </div>
          <div class="card-body col-8 offset-2">
            <br>
            <h6 class="card-title">Owned By :<%= listing.owner.username %></h6>
            <br>
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <h5>Price</h5>
            <% if (listing.price != null) { %>
                &#8377;<%= listing.price.toLocaleString("en-IN") %> / Night
            <% } else { %>
                <span>Price not available</span>
            <% } %>
            <h5>Location</h5> <%=listing.location %> 
            <h5>country</h5> <%=listing.country %> <br><br>
            <div class="col-8 offset-2 text-center my-4">
            <a href="/listing/<%= listing._id %>/book" class="btn btn-primary btn-lg">
                Book Now
            </a>
            </div>
            <% if (CurrUser && CurrUser._id.equals(listing.owner._id)) { %>
            <div class="button">
              <form style="display: inline-block;" method="get"
               action="edit/<%= listing._id %> ">
                <button class="right btn btn-dark">edit</button>
                </form>
                <form style="display: inline-block;" method="post" action="/delete/<%= listing._id %>?_method=DELETE">
                  <button type="submit" class="left btn btn-dark">Delete</button>
                </div>
                <% } %>
                  <hr>
                  <% if (CurrUser) { %>
              </form>
                <form method="post" action= "/listing/<%= listing._id %>/review" class="needs-validation" novalidate>
                  <h4>Leave a review</h4>
                  <fieldset class="starability-slot">
                    <p>Rating</p>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                  <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                      cannot submit without writing comment !
                    </div>
                    <br>
                    <button type="submit" class="left btn btn-dark">submit</button>
                  </form>
                  <% } %>
        <!-- style="width: 18rem;" -->
         <% if (listing.review.length > 0) { %>
        <div class="row">
          <h4>All Review</h4>
          <% for( review of listing.review ) { %>
          <div class="card col-5 ms-3 mb-2">
            <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <!-- <% for (let i = 0; i < review.rating; i++) { %>
              &#9733;            
            <% } %> -->
            <p class="starability-result card-text" data-rating="<%= review.rating %>">
            </p>
          </h6>
            <p class="card-text"><%= review.comment %></p>
            <% if (CurrUser && CurrUser._id.equals(review.author._id)) { %>
            <form method="post" action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE">
              <button class="left btn btn-dark">delete</button>
            </form>
            <% } %>
            <hr>
          </div>
        </div>
        <% } %>
        </div>
        <% } %>
        <div class="col-8 offset-2">
          <h2>Where you'll be</h2>
          <div id="map"></div>
        </div>
        <br><br><br><br>
    </div>
    <script src="/js/map.js"></script>